body{
    background-color: rgba(130, 140, 250, 0.2);
    display: flex;
    justify-content: center;
}
.shell{
    max-width: 1300px;
    column-count: 5;
    column-gap: 15px;
}
.image{
    margin-bottom: 15px;
}
.image img{
    width: 100%;
}
a{
    display: block;
    font-size: 100px;
    text-decoration: none;
    color: burlywood;
    text-align: center;
}
h1{
    display: block;
    font-size: 50px;
    text-decoration: none;
    color: burlywood;
}

@media (max-width:1200px){
    .shell{
        column-count: 4;
    }
}
@media (max-width:850px){
    .shell{
        column-count: 3;
    }
}
@media (max-width:600px){
    .shell{
        column-count: 2;
    }
}